/* Paleta de colores y tipografia
#4169E1
#000
white

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4169E1;
    font-family: 'Montserrat', serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
header {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    gap: 2rem; /* espacio entre logo y links */
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header img {
    height: 30px;
    border-radius: 20px;
}

header nav {
    display: flex;
    gap: 20px; /* espacio entre enlaces */
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

header a:hover {
    text-decoration: underline;
}

/* main */
main {
    flex: 1; /* Ocupa el espacio entre header y footer */
}

.main-section {
    text-align: center;
    padding: 50px 20px;
}

.main-section h1 {
    font-size: 3.0rem;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding-bottom: 20px;
    width: 98%;
    margin: 0 auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Pie de pagina */
footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Montserrat', serif;
    flex-wrap: wrap;
    gap: 2rem; /* espacio entre las columnas */
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-column p,
.footer-column input,
.footer-column button {
    margin: 0;
}

footer input[type="email"] {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    background-color: #ccc;
    border: none;
    width: 200px;
    font-weight: bold;
    text-align: center;
}

footer button {
    padding: 0.3rem 0.6rem;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

footer button:hover {
    background-color: #777;
}

.footer-logo img {
    height: 100px;
    filter: grayscale(100%); /* convierte el logo a blanco y negro */
}

.redes-container {
    display: flex;
    gap: 10px;
}

.logoredes {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

