header {
    display: flex;
    background-color: $negro;
    color: $blanco;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    gap: 2rem;

    img {
        height: 30px;
        border-radius: 20px;
    }
    
    nav {
        display: flex;
        gap: 20px;
        
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;

            li{
                a{
                    color: $blanco;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 0.9rem;

                    &:hover {
                        text-decoration: underline;
                }
                }
            }
        }
    }
      //MEDIA QUERY RESPONSIVA CON MIXIN
    @include responsive(sm) {
        padding: 0.5rem 1rem;
        gap: 0.5rem;

        nav {
            flex: 1;

            ul {
                justify-content: center;
                width: 100%;
                gap: 0.5rem;
            }

            a {
                font-size: 0.75rem;
                white-space: nowrap;
            }
        }
    }
}