.titulos-nav {
    padding-left: 1.875rem;
    font-family: $fuente-principal;
}

.local-container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.local {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}
