// Colores
$azul: #4169E1;
$negro: #000;
$blanco: #fff;
$gris: #888;
$gris-claro: #ccc;
$gris-medio: #555;
$gris-hover: #777;

// Tipografía
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;
